# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
.husky/
.vessel/

# frontend code
node_modules/
dist/
build/

target/

punks/
test_data/

key.json

canister_ids.json