$main-color: rgba(255, 1, 2, 1);
$main-dark: rgba(161, 6, 6, 1);

$sec-color: rgba(53, 172, 240, 1);
$sec-dark: rgba(20, 135, 202, 1);

$gray-color: rgba(241, 241, 241, 1);
$dgray-color: rgba(35, 35, 35, 1);

body {
    font-family: Segoe UI;
    font-size: 22px;
    line-height: 1.15;
}

h1,
h2 {
    font-weight: bold;
}

.navbar {
    height: 115px;
}

.main-color {
    color: $main-color;
}

.main-background {
    color: white;
    text-align: center;
    background-color: $main-color;
}

.wallets{
    img {
        max-height: 100px;
    }
 h3 {
     margin-top: 20px;
    font-family: "Arial";
    font-weight: bold;
}
    .col-sm-6:hover {
        background-color: $gray-color;
        border-radius: 10px;
    }
}

.dark-background {
    background-color: $main-dark;
}

.gray-background {
    background-color: $gray-color;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.161));
}

.box-shadow {
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.161));
    background-color: white;
}

.dgray-background {
    background-color: $dgray-color;
    color: white;
}

.sec-background {
    color: white;
    text-align: center;
    background-color: $sec-color;
    height: 67px;

    p {
        font-weight: bold;
        font-size: 26px;
        padding-top: 18px;
    }
}

.sdark-background {
    background-color: $sec-dark;
    height: 73px;
}

.title {
    font-size: 132px;
    color: $main-color;
}

.topmenu {
    filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.22));
    width: 100%;
}

.button {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    border-radius: 10px;
    border: 0px;
    border-color: $main-dark;
    border-style: solid;
}
input.button {
    padding: 15px;
    width: 400px;
}

.button-wrapper {
    border-radius: 10px;
}

.input-wrapper {
    display: inline-block;
    height: 60px;
}

.counter {
    p {
        font-weight: bold;
        margin-top: .25rem !important;
    }

    .button {
        height: 76px;
    }

    .button-wrapper {
        height: 82px;
    }

    .button,
    .button-wrapper {
        width: 80px;
    }

    .col-3 {
        padding: 0;
    }
}

.timer {
    font-size: 46px;
    font-weight: bold;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.761));
    padding-top: 12px;
}

@media (min-width: 540px) {
    .counter {
        p {
            font-weight: bold;
            margin-top: .25rem !important;
        }

        .button {
            height: 106px;
        }

        .button-wrapper {
            height: 112px;
        }

        .button,
        .button-wrapper {
            width: 106px;
        }
    }

    .timer {
        font-size: 56px;
        font-weight: bold;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.761));
        padding-top: 20px;
    }
}

.background-radial {
    background: radial-gradient(#004d91, #000828);

    filter: drop-shadow(0px 3px 22px rgba(0, 0, 0, 0.231));
    color: white;
}

.text-black {
    color: black;
}


.social_button {
    width: 54px;
    height: 54px;
    border-radius: 32px;
    background-color: white;
    display: inline-block;
    margin: 5px;

    div {
        margin: auto;
    }

    path {
        fill: #232323;
    }

    #github {
        padding-top: 12px;
    }
}

.rwdcontainer {
    @media (min-width: 1040px) {
        padding: 30px 100px;
    }

    @media (min-width: 1440px) {
        padding: 30px 250px;
    }
}



.roadmap {
    h1 {
        margin-bottom: 70px;
        font-weight: bold;
        font-size: 42px;
    }

    .col {
        border: 10px solid white;
        border-radius: 20px;
        margin: 5px;
        color: rgba(8, 37, 78, 1);
        font-size: 18px;
        padding: 20px;
        filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.22));


        div {
            border: 10px solid white;
            border-radius: 20px;
            margin-top: -60px;
            margin-bottom: 30px;
            margin-left: -20px;
            margin-right: -20px;
            padding: 10px;
            color: white;
            background-color: rgba(8, 37, 78, 1);
            font-size: 26px;
            text-align: center;
            font-weight: bold;

        }

        span {
            font-size: 18px;
            vertical-align: middle;
            font-weight: normal;
        }
    }
}




.roadmap2 {
    font-size: 22px;
    position: relative;

    padding-bottom: 200px;

    h1 {
        margin-bottom: 60px;
    }

    .col-xl-7 {
        border: 10px solid white;
        border-radius: 20px;
        margin: 5px;
        color: rgba(8, 37, 78, 1);
        padding: 20px;
        filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.22));

        background-color: rgba(235, 235, 235, 1);
        filter: drop-shadow (0px 3px 30px rgba(0, 0, 0, 0.22));
        line-height: 32px;
        color: rgba(14, 0, 4, 1);
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 40px;

        span {
            font-weight: bold;
        }
    }
}

.newsletter {
    h1 {
        font-size: 52px;
        padding-top: 30px;
    }
}

.small {
    display: inline-block;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 40px;

    div {
        height: 40px;
        padding-left: 40px;
        padding-right: 40px;

        p {
            padding-top: 7px;
            font-size: 22px;
        }
    }
}

.inactive {
    opacity: 0.2;
}

.steps {
    .col {
        border-radius: 10px;
        margin: 30px;
        border: 3px solid white;
    }
    .image {
        height: 200px;
        vertical-align: middle;
        padding-top: 25px;
        img {
            vertical-align: middle;
        }
    }
    .step {
        font-size: 18px;
        height: 30px;

    }
    .name {
        font-size: 28px;
        margin-bottom: 30px;
        height: 64px;
    }

    .desc {
        height: 120px;
    }
    .action {
        color: rgba(19,129,192,1);
        padding: 12px;
        margin-left: -16px;
        margin-right: -16px;
        background-color: white;
        font-weight: bold;
    }
}

// .bgimg {
//     display: none;
// }
@media (min-width: 1600px) {
    .bgimg {
        display: initial;
    }
}

.logo {
    width: 300px;
    @media (min-width: 600px) {
        width: 542px;
    }
}


// @media (min-width: 1040px) {

    #Mask_Group_37 {
        position: absolute;
        top: 30px;
        left: -450px;
    }
    #Mask_Group_11 {
        position: absolute;
        left: -550px;
        top: 350px;
    }
    #Mask_Group_10 {
        position: absolute;
        left: -420px;
        top: 740px;
    }
    #Clown1 {
        position: absolute;
        left: 400px;
        top: 25px;
        overflow: visible;
        opacity: 0.2;

        @media (min-width: 1200px) {
            opacity: 1;
        }
    }
    #Mask_Group_9 {
        position: absolute;
        left: 1150px;
        top: 164px;
    }
    #Mask_Group_5 {
        position: absolute;
        left: 1150px;
        top: 518px;
    }

    #Union_2 {
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(14, 0, 4, 1);
        stroke-width: 5px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    .Union_2 {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 670px;
        left: 850px;
        z-index: 999;
    }
    #Mask_Group_19 {
        position: absolute;
        left: 910px;
        top: 720px;
        z-index: 999;
    }

    #Mask_Group_32 {
        position: absolute;
        left: 50px;
        top: -100px;
        display: none;

        @media (min-width: 1200px) {
            display: initial;
        }
    }
    #Mask_Group_33 {
        position: absolute;
        left: 150px;
        top: 250px;
        overflow: hidden;
        display: none;

        @media (min-width: 1200px) {
            display: initial;
        }
    }

    #Mask_Group_34 {
        position: absolute;
        left: 780px;
        top: -60px;
        z-index: 990;
    }

    #Mask_Group_36 {
        position: absolute;
        left: 1200px;
        top: 70px;
        z-index: 990;
    }


// }